{% extends 'base.html.twig' %}

{% block title %}Chapter index{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-6">Capítulos</h1>

<ul>
    {% for chapter in chapters %}
        <li class="mb-6 p-4 bg-white shadow-card rounded">
            <strong class="text-xl text-primary">Capítulo {{ chapter.number }}</strong><br>
            <span class="text-secondary">Libro {{chapter.book.number}} {{ chapter.book.title }} / Volumen: {{ chapter.book.volume.number }}</span><br>
            <span class="italic">POV: {{ chapter.role.name }}</span>
        </li>
        <td>
                    <a href="{{ path('app_chapter_edit', {'id': chapter.id}) }}">edit</a>
                </td>
    {% else %}
        <li class="text-secondary">No hay capítulos todavía.</li>
    {% endfor %}
</ul>
        </tbody>
    </table>

    <a href="{{ path('app_chapter_new') }}">Nuevo</a>
{% endblock %}
