{% extends 'base.html.twig' %}

{% block title %}Capítulo {{ chapter.number }} - {{ chapter.number }}{% endblock %}

{% block body %}
<article class="chapter-detail">
    <h1>Capítulo {{ chapter.number }}: {{ chapter.number }}</h1>
    <p><em>Personaje POV: {{ chapter.role.name }}</em></p> {# Asumiendo que la relación se llama role #}
    <div class="chapter-content">
        {{ chapter.content|raw }} {# Usamos raw si el contenido tiene HTML #}
    </div>
</article>
{% endblock %}