{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<h1>Libros por Volumen</h1>

{% if volumes is empty %}
    <p>No hay libros aún.</p>
{% else %}
    {% for volumeTitle, books in volumes %}
        <h2>{{ volumeTitle }}</h2>
        <ul>
            {% for book in books %}
                <li>
                    <strong>Libro {{ book.number }}: {{ book.title }}</strong><br>

                    {% if book.cover %}
                        <img src= "{{book.cover}}" alt="Portada de {{ book.title }}" style="max-width: 100px;"><br>
                    {% endif %}

                    {% if book.chapters|length > 0 %}
                        Capítulos:
                        <ul>
                            {% for chapter in book.chapters %}
                                <li>
                                <a href="/chapter/{{ chapter.slug }}" class="text-blue-600 hover:underline">
                                Capítulo {{ chapter.number }}
                                </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <em>Sin capítulos</em>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}