{% extends 'base.html.twig' %}

{% block title %}Personajes{% endblock %}

{% block body %}
    <h1>Personajes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Aspecto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td> <img src="{{ role.image }}" alt="Personaje" style="max-width: 150px;" /></td>
                <td>
                    <a href="{{ path('app_role_show', {'id': role.id}) }}">Mostrar</a>
                    <a href="{{ path('app_role_edit', {'id': role.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_role_new') }}">Nuevo personaje</a>
{% endblock %}
