<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-background text-primary font-serif max-w-xl mx-auto p-6 leading-relaxed">
    {% block navbar %}
        {% if app.user %}
            <p>Hola, {{ app.user.email }} |
        <a href="{{ path('app_logout') }}">Cerrar sesión</a></p>
        {% else %}
            <p><a href="{{ path('app_login') }}">Iniciar sesión</a> |
            <a href="{{ path('app_register') }}">Registrarse</a></p>
        {% endif %}    
    {% endblock %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</body>
</html>