{% extends 'base.html.twig' %}

{% block title %}Volumenes {% endblock %}

{% block body %}
    <h1>Volumenes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Descripción</th>

            </tr>
        </thead>
        <tbody>
        {% for volume in volumes %}
            <tr>
                <td>{{ volume.number }}</td>
                <td>{{ volume.description }}</td>
                <td>
                    <a href="{{ path('app_volume_show', {'id': volume.id}) }}">Mostrar</a>
                    <a href="{{ path('app_volume_edit', {'id': volume.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_volume_new') }}">Crear nuevo</a>
{% endblock %}
